<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238005515218-d63u1uoosha8hclvrumg30q7m5gdsfvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238005515218-d63u1uoosha8hclvrumg30q7m5gdsfvb</string>
	<key>API_KEY</key>
	<string>AIzaSyCYs6GyWpjkxrm6Kq2PtXWTbEKLSBPrhhc</string>
	<key>GCM_SENDER_ID</key>
	<string>238005515218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abhijeet-Ranjan.Kommunicate-SPM</string>
	<key>PROJECT_ID</key>
	<string>kommunicate-spm</string>
	<key>STORAGE_BUCKET</key>
	<string>kommunicate-spm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238005515218:ios:0115fab614b1bdfe7c0e0b</string>
</dict>
</plist>